﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<input type="text" name="name" id="search" />
<input type='button' id="submit" value='Поиск' />
<div id="results"></div>

@section scripts{
    <script type="text/javascript">
$(document).ready(function () {
    $('#submit').click(function (e) {
        e.preventDefault();
        var name = $('#search').val();
        name = encodeURIComponent(name);
        $('#results').load('@Url.Action("BookSearch", "Ajax")?name=' + name)
    });
});
    </script>
}