﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div>
        @Html.ActionLink("Order in Area", "Index", new { Controller = "Order", Area = "Shop" }, new { @class = "btn btn-primary" })
    </div>
    <div>
        @Html.ActionLink("Order in Main", "Index", new { Controller = "Order"}, new { @class = "btn btn-primary" })
    </div>
</div>


