﻿@model _014_BooksFiltringViewModel.Models.BooksListViewModel

@{
    ViewBag.Title = "Каталог книг";
}

<h2>Каталог книг</h2>

<p>
    @Html.ActionLink("Добавить книгу", "Create")
</p>

<form method="get">
    <div class="form-inline">
        <label class="control-label">Категория: </label>
        @Html.DropDownList("category", Model.Categories as SelectList,
                                   htmlAttributes: new { @class = "form-control" })

        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>

<table>
    <tr>
        <th>Название книги</th>
        <th>Цена</th>
        <th>Категория</th>
        <th>Действия</th>
    </tr>

    @foreach (var item in Model.Books)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>