﻿@model MVCEmptyTemplateTest.Models.GuestResponse

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <style>
        body {
            background: #f1f1f1;
        }
    </style>
</head>
<body>
    @{
        try
        {
            WebMail.SmtpServer = "smtp.gmail.com";
            WebMail.SmtpPort = 587;
            WebMail.EnableSsl = true;
            WebMail.UserName = "alltires.test@gmail.com";
            WebMail.Password = "!234Qwer";
            WebMail.From = "alltires.test@gmail.com";

            WebMail.Send(Model.Email, "Invite Приглашение",
                Model.Name + ((Model.WillAttend ?? false) ? " " : "не") + "придет");

        }
        catch (Exception)
        {
            @:<b>К сожалению при отправке письма возникла ошибка.</b>
        }
    }

    <div class="text-center">
        <h1>Спасибо, @Model.Name!</h1>
        <div class="lead">
            @if (Model.WillAttend == true)
            {
                @:Здорово что вы придете, Вам выделен ноутбук!
            }
            else
            {
                @:Жаль что вы не придете, но спасибо что дали об этом знать.
            }
        </div>
    </div>
</body>
</html>