﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Ajax.ActionLink: создает гиперссылку на действие контроллера, по нажатию на которую происходит ajax-запрос к этому действию</p>
        <p>Ajax.RouteLink: похож на хелпер Ajax.ActionLink, только ссылка создается на определенный маршрут, а не на действие контроллера</p>
        <p>Ajax.BeginForm: создает html-форму, которая отправляет ajax-запросы к определенному действию определенного контроллера</p>
        <p>Ajax.BeginRouteForm: похож на Ajax.BeginForm, только ajax-запросы направляются не к действию контроллера, к по определенному маршруту</p>
        <p>Ajax.GlobalizationScript: создает ссылку на скрипт, который содержит информацию о культуре</p>
        <p>Ajax.JavaScriptStringEncode: кодирует строку для использования в JavaScript</p>
       
    </div>
    <div class="col-md-4">
        <h2>Books</h2>
        <p>@Html.ActionLink("All Books", "Index", new { Controller = "Books" }, new {@class="btn btn-default"})</p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>