﻿@model IEnumerable<AJAX_usage.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@using (Ajax.BeginForm("BooksSearch", new AjaxOptions()
{
    UpdateTargetId = "searchResult",
    HttpMethod = "post",
    LoadingElementId = "preloader",
    InsertionMode = InsertionMode.Replace
}))
{
    <span>Author:</span>
    <input name="author" type="text" />
    <input type="submit" value="Search" />
}
<div id="searchResult"></div>
<div id="preloader" style="display: none;">Loading...</div>
@*@Scripts.Render("~/scripts/script.js")*@

<div id="bestBook">
    @Ajax.ActionLink("Show best book", "BestBook", new AjaxOptions()
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "bestBook"
    })
</div>

<script>
        function FirstBookOnSuccess(data) {
            let $div = $("#firstBook").empty();
            $div.html(data.Name);
        }
</script>

@*Using helpers*@
<div id="firstBook">
    @Ajax.ActionLink("Show first book from JSON", "FirstBookJson", new AjaxOptions()
    {
        OnSuccess = "FirstBookOnSuccess"
    })
</div>

@*Without helpers, JS only*@
<div id="lastBook">
    <input type="button" value="Show last book from Json"/>
</div>

@section Scripts
{
    @Scripts.Render("~/scripts/script.js")
}