﻿@model _013_Chat.Models.ChatModel
@{
    //Layout = null;
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Чат на Ajax и JQuery</title>
    @Styles.Render("~/Content/Site.css")
</head>
<body>
    <div id="Username">
    </div>
    <div id="LastRefresh">
    </div>
    <div id="container">
        <div id="loginBlock">
            Введите имя :
            <input type="text" id="txtUserName" />
            <button id="btnLogin" value="Войти">Войти</button>
        </div>
    </div>
    <div id="Error">
    </div>
    @Ajax.ActionLink("Login", "Index", new { user = "" },
        new AjaxOptions
        {
            UpdateTargetId = "container",
            OnFailure = "LoginOnFailure",
            OnSuccess = "LoginOnSuccess"
        },
        new { @id = "LoginButton", @style = "visibility:hidden;" })


</body>
</html>