﻿@{
    ViewBag.Title = "Home Page";
}

@helper CreateList(string[] all)
    {
        <ul>
            @foreach (string s in all)
            {
                <li>@s</li>
            }
        </ul>
}
@{
    string[] cities = new string[] { "Лондон", "Париж", "Москва" };
}
@{
    string[] countries = new string[] { "Великобритания", "Франция", "Россия" };
}

@using HTML_helpers.Helpers


<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-lg-3">
        <h3>Города</h3>
        @*Using helper from file in App_Code/MyHelpers.cshtml - it is underlined with red, but works*@
        @MyHelpers.HtmlList(cities)
    </div>
    <div class="col-lg-3">
        <h3>Страны</h3>
        @CreateList(countries)
    </div>
    <div class="col-lg-3">
        <h3>Города</h3>
        @Html.CreateList(cities)
    </div>
    <div class="col-lg-3">
        <h3>Страны</h3>
        <!-- или можно вызвать так -->
        @ListHelper.CreateList(Html, countries)
    </div>
</div>