﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Овощной магазин</title>
    <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
</head>
<body>
    <div>
        <h3>Продажа овощей</h3>
        <table>
            <tr>
                <td><p>Название</p></td>
                <td><p>Цена</p></td>
                <td><p>Количество</p></td>
                <td></td>
            </tr>
            @foreach (var b in ViewBag.Items)
            {
                <tr>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Price</p></td>
                    <td><p>@b.Quantity</p></td>
                    <td><p><a href="/Home/Buy/@b.Id">Купить</a></p></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>