﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HTTP Context, Cookies</h1>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Would you like to view info about HTTPContext?</h2>
        <p>
            Нередко требуется информация о контексте запроса: какой у пользователя браузер, ip-адрес, с какой страницы или сайта
            пользователь попал к нам.  ASP.NET MVC позволяет получить всю эту информацию, используя объект HttpContext.
        </p>
        <p>
            @Html.ActionLink("Get HTTP context data", "GetContext")
        </p>
    </div>
    <div class="col-md-3">
        <h2>We can manage HTTP Responce!</h2>
        <p>HttpContext.Response - мы управляем ответом, ничего </p>
        <p>@Html.ActionLink("Send response", "VoidContext")</p>
    </div>
    <div class="col-md-3">
        <h2>Do you like cookies?..</h2>
        <p>Получить куки - HttpContext.Request.Cookies</p>
        <p>@Html.ActionLink("Get cookie", "GetCookies")</p>
    </div>
    <div class="col-md-3">
        <h2>We can get some data from session</h2>
        <p>
            Сессии используются для хранения некоторых данных, которые можно
            получить в любом месте приложения. Для работы с ними используется объектSession.
        </p>
        <p>@Html.ActionLink("Get data from session", "GetDataFromSession")</p>
    </div>
</div>

