﻿@model ASPCoreMVC3.Models.Order

@{
    ViewData["Title"] = "Buy";
}

<h2>Buy</h2>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Buy">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User" class="control-label"></label>
                <input asp-for="User" class="form-control" />
                <span asp-validation-for="User" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoShotDateTime" class="control-label"></label>
                <input asp-for="PhotoShotDateTime" class="form-control" />
                <span asp-validation-for="PhotoShotDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactPhone" class="control-label"></label>
                <input asp-for="ContactPhone" class="form-control" />
                <span asp-validation-for="ContactPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsPrepayed" /> @Html.DisplayNameFor(model => model.IsPrepayed)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PhotoShotId" class="control-label"></label>
                <input asp-for="PhotoShotId" class="form-control" value="@ViewBag.photoShotId"/>
                <span asp-validation-for="PhotoShotId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
