﻿@model IEnumerable<ViewsTypes.Models.Book>

@{
    ViewBag.Title = "IndexAllBooks";
}

<h2>IndexAllBooks</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { controller = "Books" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id, controller = "Books" }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id, controller = "Books" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id, controller = "Books" })
           
        </td>
    </tr>
}

</table>
