﻿@model List<PassingComplexDataToController.Models.Book>

@{
    ViewBag.Title = "EditBooks";
}

<h2>Edit books</h2>

@using (Html.BeginForm())
{
    for (int i = 0; i < Model.Count; i++)
    {
        <p>
            @Html.HiddenFor(m=>m[i].Id)
            @Html.NameFor(m => @m[i].Name)
            @Html.EditorFor(m => m[i].Name)
            @Html.NameFor(m => m[i].Author)
            @Html.EditorFor(m => m[i].Author)
            @Html.NameFor(m => m[i].Price)
            @Html.EditorFor(m => m[i].Price)
        </p>
    }

    <input type="submit" />
}
