﻿@using PassingComplexDataToController.Models
@model PassingComplexDataToController.Models.Book

@{
    ViewBag.Title = "TwoBooks";
}

@{
    Book myBook = new Book() { Name = "Мартин Иден", Author = "Джек Лондон", Price = 190 };
}

<h2>TwoBooks</h2>
@using (Html.BeginForm())
{
    @Html.EditorFor(m => myBook)
    @Html.EditorForModel()
    <input type="submit" />
}
