﻿@model List<_005_Files_DbRelations_CRUD.Models.Part>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Count</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Id</td>
                <td>@Html.ActionLink(@item.Name, "Details", new { Controller = "Parts", id = @item.Id })</td>
                <td>@item.Price</td>
                <td>@item.Count</td>
                <td>@item.Description</td>
                <td>
                    <div>@Html.ActionLink("Edit", "Edit", new { Controller = "Parts", id = @item.Id })</div>
                    <div>@Html.ActionLink("Delete", "Delete", new { Controller = "Parts", id = @item.Id })</div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>



