﻿@{
    ViewBag.Title = "Array";
}

<div class="jumbotron">
    <h1>Objects transfer</h1>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Form with helpers</h2>

        @using (Html.BeginForm())
        {
            @Html.TextBox("names")
            @Html.TextBox("names")
            @Html.TextBox("names")
            @Html.TextBox("names")
            <input type="submit" />
        }

    </div>


    <div class="col-md-3">
        <h2>Form with html</h2>
        <p>
            <form action="/ObjectsTransfer/Array" method="post">
                <input id="names" name="names" type="text" value="" />
                <input id="names" name="names" type="text" value="" />
                <input id="names" name="names" type="text" value="" />
                <input id="names" name="names" type="text" value="" />
                <input type="submit" />
            </form>
        </p>
    </div>
</div>
