﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Filtring lists</h1>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Players list", "GetPlayersList", null, new { @class = "btn btn-primary"})
    </div>
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
        
    </div>
</div>