﻿@using _007_HTTPContext_JQuery_Filters.Models;
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Partial views</h1>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>This is a partial view data with Html.Partial</h2>
        <p>

        </p>
        <p>
            @Html.Partial("_GetList")
        </p>
        <p>Перейти к частичному представлению: @Html.ActionLink("Get list", "GetList", null, new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-3">
        <h2>This is a partial view data with {Html.RenderPartial}</h2>
        <p>
            Напрямую пишет вывод в выходной поток, поэтому может работать чуть быстрее, чем Html.Partial
        </p>
        <p>
            @{Html.RenderPartial("_GetList");}
        </p>
    </div>
    <div class="col-md-3">
        <h2>Строго типизированное частичное представление</h2>
        <p>
            @Html.Partial("_GetModel", new List<Book>()
{
    new Book() { Name = "Игры разума", Author = "Shildt", Price = 200},
    new Book() { Name = "Игры разума", Author = "Shildt", Price = 200}
})
        </p>
        <p>Перейти к частичному представлению: @Html.ActionLink("Get Model", "GetModel", null, new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-3">
        <h2></h2>
        <p>

        </p>
        <p>

        </p>
    </div>
</div>


