﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


body {
        font-size: 13px;
        font-family: Verdana, Arial, Helvetica, Sans-Serif;
        background-color: #f7f7fa;
        padding-left: 40px;
}

  
nav {
        display: block;
}

  
.menu {
        padding-left: 10px;
}

.menu ul {
        list-style: none;
}

.menu li {
        display: inline;
}

.menu a:hover {
        color: red;
}

table {
       vertical-align: middle;
       text-align: left;
       
}

.header {
        font-weight: bold;
}

 td {
        padding-right: 10px;
     
}

input {
        width: 150px;
}
