﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My form</h2>
        @using (Html.BeginForm("Buy", "Home", FormMethod.Post))
        {
            <input type="hidden" value="@ViewBag.BookId" name="BookId" />
            <table>
                <tr>
                    <td><p>Введите свое имя </p></td>
                    <td><input type="text" name="Person" /> </td>
                </tr>
                <tr>
                    <td><p>Введите адрес :</p></td>
                    <td><input type="text" name="Address" /> </td>
                </tr>
                <tr>
                    <td><input type="submit" value="Отправить" /> </td>
                    <td></td>
                </tr>
            </table>
        }
    </div>
    <div class="col-md-4">
        <h2>My form with helpers only</h2>
        @using (Html.BeginForm("Buy", "Home", FormMethod.Post))
        {
            <input type="hidden" value="@ViewBag.BookId" name="BookId" />
            <table>
                <tr>
                    <td><p>@Html.Label("Person", "Введите свое имя") </p></td>
                    <td>@Html.TextBox("Person", "Введите имя", new { @id = "Person" })</td>
                </tr>
                <tr>
                    <td><p>Введите адрес :</p></td>
                    <td>@Html.TextArea("Address", "Введите адрес")</td>
                </tr>
                <tr>
                    <td><p>Select color:</p></td>
                    <td>
                        @Html.RadioButton("color", "red")
                        <span>красный</span> <br />
                        @Html.RadioButton("color", "blue")
                        <span>синий</span> <br />
                        @Html.RadioButton("color", "green", true)
                        <span>зеленый</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Enable or disable:
                    </td>
                    <td>
                        @Html.CheckBox("Enable", false)
                    </td>
                </tr>
                <tr>
                    <td>
                        Drop down list with single selection:
                    </td>
                    <td>
                        @Html.DropDownList("countires", new SelectList(new string[] { "Russia", "USA", "Canada", "France" }), "Countries")
                        @*@Html.DropDownList("Author", ViewBag.Books as SelectList)*@
                    </td>
                </tr>
                <tr>
                    <td>
                        Drop down list with multi selection:
                    </td>
                    <td>
                        @Html.ListBox("countiresMulti", new MultiSelectList(new string[] { "Россия", "США", "Китай", "Индия" }))
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" value="Отправить" /> </td>
                    <td></td>
                </tr>
            </table>
        }
    </div>
    <div class="col-md-4">
        <h2>Purchase show</h2> 
        <p>@Html.ActionLink("Show purchase", "ShowPurchaseForm", "Home", new { id = 1 }, null)</p>
        <p>@Html.ActionLink("Show book", "ShowBook", "Home", new { id = 1 }, null)</p>
        <p>@Html.ActionLink("Edit book", "EditBook", "Home", new { id = 1 }, null)</p>
    </div>
</div>