﻿<!--<ul>
    <li>
        <a routerLink="">Home</a>
    </li>
    <li>
        <a routerLink="about">About</a>
    </li>
</ul>-->
<!--a way to pass any data to child component-->
<app-linked-child #counter [userName]="userName" [userAge]="age" (onChanged)="onChanged($event)">
    <!--поскольку данные из родительского компонента передаются в дочерний напрямую, 
        то для получения этих данных в дочернем компоненте будет использоваться элемент ng-content-->
    <h3 #headerContent>Your parent sends this to you, {{name}}!</h3>
</app-linked-child>
<br />
<!--данную переменную мы можем использовать только внутри шаблона.-->
<div>Template variable <span #varName>Polina</span></div>
<div>Using template variable: {{varName.textContent}}</div>
<div>Name inputed into linked-child: {{name}}</div>
<br />
<input type="number" [(ngModel)]="age" />

<app-child><h2>Добро пожаловать {{name}}!</h2></app-child>

<h1>Hello {{name}}</h1>
<p class="my-header">One-way bindings</p>
<input type="text" [value]="inputText" /><br>
<input type="button" (click)="increase()" value="Count" />
{{count}}
<p class="my-header">Two-ways binding</p>
{{model}}
<input type="text" [(ngModel)]="model" /> <br><br>
<input type="text" [(ngModel)]="model" />

<div>
    <!--directive Bold used with params:-->
    <p bold [selectedSize]="'28px'" [defaultSize]="'14px'">!bold text! Buttons to change child counter:</p>
    <input type="button" (click)="counter.increment()" value="+" />
    <input type="button" (click)="counter.decrement()" value="-" />
</div>

<div>
    <p>ngIf usage</p>
    <p *ngIf="condition">If you see it, so CONDITION is true</p>
    <button (click)="changeCondition()">Change condition</button>
</div>

<div>
    <p>ngIf with template usage</p>
    <p *ngIf="condition; else unset">If you see it, so CONDITION is true</p>
    <ng-template #unset>
        <p>And now CONDITION is false</p>
    </ng-template>
    <button (click)="changeCondition()">Toogle condition</button>
</div>

<div>
    <p>ngIf with template and then - else usage</p>
    <div *ngIf="condition; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
        <p>Then template</p>
    </ng-template>
    <ng-template #elseBlock>
        <p>Else template</p>
    </ng-template>
    <button (click)="changeCondition()">Toogle condition</button>
</div>

<div>
    <p>Using ngFor</p>
    <ul>
        <li *ngFor="let item of items; let i = index">{{i+1}}.{{item}}</li>
    </ul>
</div>

<div>
    <p>Using ngSwitch</p>
    <div [ngSwitch]="count">
        <ng-template ngSwitchCase="1">{{count * 10}}</ng-template>
        <ng-template ngSwitchCase="2">{{count * 100}}</ng-template>
        <ng-template ngSwitchDefault>{{count * 1000}}</ng-template>
    </div>
</div>
<!--<app-home></app-home>

<router-outlet></router-outlet>-->
