﻿@model IEnumerable<ManyToManyModel.Models.Student>

@{
    ViewBag.Title = "IndexStudents";
}

<h2>IndexStudents</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Courses)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @foreach (var course in item.Courses)
                {
                    <span>@course.Name</span>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "EditStudent", new { id = item.Id }) |
                @Html.ActionLink("Details", "StudentDetales", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
