﻿@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-6">
        <p>
            @Html.ActionLink("Students list", "IndexStudents")
        </p>
    </div>
    <div class="col-md-6">
        <p>
            @Html.ActionLink("Courses list", "IndexCourses")
        </p>
    </div>
</div>