﻿@model ManyToManyModel.Models.Student

@{
    ViewBag.Title = "StudentDetales";
}

<h2>StudentDetales</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Courses)
        </dt>

        <dd>
            @foreach (var course in Model.Courses)
            {
                <span>@course.Name</span>
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditStudent", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
