﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET Filters test</h1>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>Cars</h2>
        <p>@Html.ActionLink("All cars", "Index", new { Controller = "Cars" })</p>
        <p>@Html.ActionLink("Test exception filter", "GetException")</p>
        <p>@Html.ActionLink("Test action filter", "ActionFilterTest")</p>
        <p>@Html.ActionLink("Whitespaces remover", "WhitespacesString")</p>
    </div>
</div>