﻿@model _06_HW_Divider.Models.Divider

@{
    ViewBag.Title = "Home Page";
}

@using (Ajax.BeginForm("GetResult", new AjaxOptions()
{
    UpdateTargetId = "DivResult",
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace
}))
{
    Html.ValidationSummary(true);

    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.TextBoxFor(d => d.Number)
        <div class="errormessage">
            @Html.ValidationMessageFor(d => d.Number)
        </div>

    </div>
    <div class="form-group">
        @Html.TextBoxFor(d => d.Div)
        <div class="errormessage">
            @Html.ValidationMessageFor(d => d.Div)
        </div>
    </div>
    <span>
        <input class="btn btn-primary btn-inline" type="submit" value="Divide" />
    </span>
}
<span id="DivResult"></span>
