﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
        <h3>Форма оформления покупки</h3>
        <form method="post" action="">
            <input type="hidden" value="@ViewBag.BookId" name="BookId" />
            <table class="table table-bordered">
                <tr>
                    <td>
                        <p>Введите свое имя </p>
                    </td>
                    <td>
                        <input type="text" name="Person" />
                    </td>
                </tr>
                <tr>
                    <td><p>Введите адрес :</p></td>
                    <td>
                        <input type="text" name="Address" />
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" value="Отправить" /> </td>
                    <td></td>
                </tr>
            </table>
        </form>
