﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Books sale</h3>
<table class="table table-dark">
    <thead>
        <tr>
            <th>Book name</th>
            <th>Author</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var b in ViewBag.Books)
        {
            <tr>
                <td>@b.Name</td>
                <td>@b.Author</td>
                <td>@b.Price</td>
                <td>
                    <a href="/Home/Buy/@b.Id">Buy a book</a>
                </td>
            </tr>
        }
    </tbody>
</table>