﻿@model SoccerComplexModel.Models.Soccer.Team

@{
    ViewBag.Title = "TeamDetails";
}

<h2>TeamDetails</h2>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coach)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Players)
        </dt>

        <dd>
            @foreach (SoccerComplexModel.Models.Soccer.Player player in Model.Players)
            {
               <span>@player.Name </span>
            }

        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
