﻿@{
    ViewBag.Title = "Index";
}

<div>
    @using (Ajax.BeginForm("BookSearch", new AjaxOptions
    {
        UpdateTargetId = "results",
        OnBegin = "OnBegin",
        OnFailure = "OnFailure",
        //OnSuccess = "OnSuccess",
        OnComplete = "OnComplete",
        LoadingElementId = "loading",
        LoadingElementDuration = 1000,
        Confirm = "Выполнить AJAX-запрос?",
        InsertionMode = InsertionMode.InsertBefore
    }))
    {
        <input type="text" name="name" />
        <input type="submit" value="Поиск" />
    }
    @*<div id="loading" style="display:none; color:Red; font-weight:bold;">
            <p>Идет загрузка...</p>
        </div>*@
    <img id="loading" src="@Url.Content("~/Content/Images/loader.gif")" style="display:none" />
    <div id="results"></div>
</div>

<div>
    <div id="bestbook">
        @Ajax.ActionLink("Лучшая книга", "BestBook", new AjaxOptions { UpdateTargetId = "bestbook" })
    </div>
</div>


@*<div>
        @using (Ajax.BeginForm("Authors", new AjaxOptions { UpdateTargetId = "allAuthors" }))
        {
            <input type="text" name="name" />
            <input type="submit" value="Поиск" />
        }

        <div id="allAuthors"></div>
        <br />
        @foreach (string s in ViewBag.Authors)
        {
            <div style="margin-right:8px;float:left;">
                @Ajax.ActionLink(s, "BookSearch", new { name = s }, new AjaxOptions { UpdateTargetId = "allAuthors" })
            </div>
        }
    </div>*@


@*JSON result test*@
@using (Ajax.BeginForm("JsonSearch", new AjaxOptions { OnSuccess = "OnSuccess" }))
{
    <input type="text" name="name" />
    <input type="submit" value="Поиск Json" />
}
<br />
<div id="results_json"></div>




<input type="text" name="name" id="search" />
<input type='button' id="submit_search" value='Поиск' />
<div id="jquery_ajax_result"></div>



@section scripts {
    @Scripts.Render("~/bundles/myScripts")
}
