﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Static page</h2>
        <p><a class="btn btn-default" href="~/Content/Welcome.html">Welcome static page</a></p>
    </div>
    <div class="col-md-4">
        <h2>Route with "Ru" prefix</h2>
        <p><a class="btn btn-default" href="~/RuHome/ShowPrefixPage">Show prefix page</a></p>
        @*Html helper for the action of the same controller:*@ 
        <p>@Html.ActionLink("Show prefix page", "ShowPrefixPage")</p>
        @*Html helper for the action of another controller:*@
        <p>@Html.ActionLink("Call Other controller", "Index", "Other")</p>
    </div>
    <div class="col-md-4">
        <h2>Multiparamed route</h2>
        <p><a class="btn btn-default" href="~/Home/Multiparam/2/myname/someotherdata/34566/asdfrf/1">Multiparamed route</a></p>
        @*Html helper for action with two params:*@
        <p>@Html.ActionLink("Multiparamaction ActionLink", "Multiparam", new { id = 12, name = "multi" }, new { id = "multi", @class = "multiClass" })</p>
        @*The same with Route link:*@
        <p>@Html.RouteLink("MultiparamAction RouteLink", new { controller = "Home", action = "Multiparam", id = 12, name = "multi" }, new { id = "multi2", @class = "multiClass" })</p>
        @*The same using route name:*@
        <p>@Html.RouteLink("MultiparamAction RouteLink", "MultiparamedRoute", new { action = "Multiparam", id = 12, name = "multi" }, new { id = "multi3", @class = "multiClass" })</p>
        @*Route for my own handler:*@
        <p>@Html.RouteLink("Route for my handler", new { handlerName = "myhandler", action = "Index", controller = "Home" }) </p>

    @*URL-хелперы похожи на хелперы ActionLink и RouteLink за тем исключением, что они не возвращают HTML, а создают пути URL и возвращают их в виде строк.*@
        <p>Url.Action: @Url.Action("Multiparam", "Home", new { id = 12, name = "multi" }) </p>
        <p>Url.Route: @Url.RouteUrl(new { controller = "Home", action = "Multiparam", id = 12, name = "multi" })</p>
        <p>Хелпер Content преобразует относительные пути в абсолютные:</p>
        <p>Url.Content: @Url.Content("~/Content/Site.css")</p>
    </div>
</div>